<div class="col-md-12"

  <h2 class="text-center"> 我发表过的评论 </h2>

  <table class="table"
    <thead>
      <tr>
        <th> Content </th>
        <th> Movie Name </th>
        <th> Last Update </th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td> <%= comment.content %> </td>
          <td> <%= comment.movie.name %> </td>
          <td> <%= comment.updated_at %> </td>
          <td> <%= link_to('Edit', edit_movie_comment_path(comment.movie, comment), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Delete', movie_comment_path(comment.movie, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
